.container {
  margin: 3rem;
}
.resource_title {
  /* padding-bottom: 1rem;
  border-bottom: 1px solid black; */
}
.context {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.links {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
